.register-form{
  overflow: hidden;
}

.register-form input, .register-form select,.droparea{
  width: 80%;
  margin: 15px;
  color: rgba(80,82,196,1);
  border:1px solid rgba(80,82,196,.3);
}

.register-form .droparea{
  margin:0px 15px;
}

.register-form input:hover , .register-form select:hover, .droparea:hover{
  border:1px solid rgba(80,82,196,.4);
  color: rgba(80,82,196,.9);
}

.rejectedarea{
  background: tomato;
}

.register-form input:focus , .register-form select:focus{
  border:1px solid rgba(80,82,196,.6);
  color: rgba(80,82,196,1);
  box-shadow: none;
}

.register-form input:active , .register-form select:active{
  border:1px solid rgba(80,82,196,.5);
  color: rgba(80,82,196,.95);
  box-shadow: none;
}

.register-image img{
  width: 95%;
  margin: 40px auto;
}

.register-form button{
  background: rgba(80,82,196,.9);
  color: white;
  margin: 15px;
  cursor: pointer;
  width: 80%;
  box-shadow: 3px 3px 6px rgba(100,102,244,.5);
  outline: none;
}

.register-form button:hover{
  background: rgba(80,82,196,.8);
  outline: none;
  box-shadow: 2px 2px 5px rgba(100,102,244,.4);
}

.register-form button:active{
  background: rgba(80,82,196,.95);
  outline: none;
  box-shadow: 1px 1px 5px rgba(100,102,244,.6);
}

.register-form button:focus{
  outline: none;
  background: rgba(80,82,196,1);
  box-shadow:1px 1px 6px rgba(100,102,244,.5);
}

.register-form ::placeholder{
  color: rgba(80,82,196,.7);
}

.register-form .link{
  color: rgba(80,82,196,1);
  border: 1px solid rgba(80,82,196,.9);
  display: block;
  margin: 5px 15px;
  width: 80%;
  box-shadow: 3px 3px 6px rgba(100,102,244,.4);
}

.register-form .link:hover{
  background: rgba(80,82,196,.9);
  outline: none;
  color: white;
  box-shadow: 2px 2px 5px rgba(100,102,244,.4);
}

.register-form .alert{
  background: white;
  color: tomato;
  border: 1px dashed tomato;
  width: 80%;
  padding: 8px 5px;
  margin: 10px 15px;
}

.register-form .heading{
  color:rgba(80,82,196,1);
  margin-bottom: 20px;
}
