.resume input{
  display: block;
  margin: 5px;
  width: 40%;
  padding: 4px 8px;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 2px 2px 8px rgba(51, 51, 51, 0.2);
  transition: all ease .2s;
}

.resume input:hover{
  border-color: rgba(0,0,0,.4);
  box-shadow: 2.5px 2.5px 9px rgba(51, 51, 51, 0.25);
}

.resume input:focus{
  outline: none;
  border-color: rgba(0,0,0,.5);
  box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.3);
}

.resume .name input{
  width: 40%;
  margin: 5px;
}

.resume div{
  overflow:hidden;
}
