.st0{
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#FFFFFF;
}

.st1{
  fill:#29335C;
}

.st2{
  font-family:'Montserrat';font-weight:400;
}

.st3{
  font-size:15px;
}

.st4{
  fill:#FFFFFF;
}

.st5{
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#A37DFF;
}

.st6{
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#CCBBFF;
}

.st7{
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#90C9EA;
}

.st8{
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#ABC3FF;
}

.st9{
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#79A1F2;
}

.st10{
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#618DE5;
}

.st11{
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#7B91FF;
}

.st12{
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#80C3FF;
}

.st13{
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#494089;
}

.svg-container{
  text-align: center;
}

.svg-container svg{
  width: 55%;
  margin: 30px auto;
}

.btn-outline-notfound{
  border: 1px solid rgb(41, 51, 92);
  color: rgb(41, 51, 92);
  box-shadow: 2px 2px 5px rgba(41,51,92,.2);
  transition: all ease .2s;
}

.btn-outline-notfound:hover{
  background-color: rgb(41, 51, 92);
  border: 1px solid rgb(41, 51, 92);
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(41,51,92,.25);
  color: white;
}

@keyframes blink {
  0%{
    opacity: 1;
    fill: #FFFFFF;
    transform: scale(1);
  }
  50%{
    transform: scale(1.0001);
    fill:#ededed;
  }
  100%{
    fill:#f1c40f;
    transform: scale(1.0015);
  }
}

.sparkle{
  fill:#FFFFFF;
  transform-origin: center;
  animation: blink .25s infinite ease;
}
