.presentational{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  transition:
}

.presentational:hover{
  background-size: cover;
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 1px 1px 10px 0px rgba(238,249,237,.2),2px 2px 14px 10px rgba(68,218,220,0.12);
}

.presentational h2{
  color: rgba(255,255,255,.8);
  font-size: 18px;
  transition:all ease .2s;
  font-weight: 600;
  border: 1px solid rgba(255,255,255,.2);
}

.presentational:hover h2{
  color:white;
  border: 2px solid white;
  border-color: white;
  border-width: 2px;
  text-shadow: 2px 2px 15px rgba(68,218,220,0.4);
}
